.pink-main {
    background: $ht-red;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.landscape {
    width: 79%;
    margin: 0 auto;
}

.container {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pink-main:after {
    content: '';
    display: block;
    clear: both;
}

.header {
    text-align: center;
    color: $grey-blue;
    padding-top: 50px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    background: $bg-grey;
}

.wrapper:after {
    content: "";
    display: block;
    clear: both;
}

#main-banner {
    width: 100%;
    max-width: 1200;
}

.service h3,
.service p {
    padding: 10px;
    text-align: center;
}

.service h3 {
    background: $ht-red;
    font-weight: bold;
    color: $black;
    font-size: 19px;
}

.service p {
    color: $white;
}

.service {
    float: left;
    width: 29%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


/* backgrounds */

.dawn {
    background-color: $dawn;
}

.sunrise {
    background-color: $sunrise;
}

.day {
    background-color: $day;
}

.sunset {
    background-color: $sunset;
}

.night {
    background-color: $night;
}


/* Cloud and Stars*/

@keyframes move-clouds-back {
    from {
        background-position: 0 0px;
    }
    to {
        background-position: 10000px 0;
    }
}

@-webkit-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-moz-keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 10000px 0;
    }
}

@-ms-keyframes move-clouds-back {
    from {
        background-position: 0;
    }
    to {
        background-position: 10000px 0;
    }
}

.stars,
.clouds-night,
.clouds-day {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stars {
    background: url(../img/stars.png) repeat top center;
    z-index: -1;
}

.clouds-night {
    background: transparent url(../img/clouds.png) repeat top center;
    z-index: -1;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}

.clouds-day {
    background: transparent url(../img/clouds_headertag.png) repeat top center;
    z-index: -1;
    -moz-animation: move-clouds-back 200s linear infinite;
    -ms-animation: move-clouds-back 200s linear infinite;
    -o-animation: move-clouds-back 200s linear infinite;
    -webkit-animation: move-clouds-back 200s linear infinite;
    animation: move-clouds-back 200s linear infinite;
}


/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
    h2 {
        width: 20%;
        font-size: 20px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .service {
        width: 80%;
        margin: 10px 10% !important;
        padding: 1%;
        height: 140px;
    }
    .service h3,
    .service p {
        text-align: center;
    }
    h1 {
        padding: 2px;
        margin: 0;
        color: $white;
        line-height: 60px;
    }
    .clouds-night {
        background: transparent url(../img/clouds-sm.png) repeat top center;
        z-index: -1;
        -moz-animation: move-clouds-back 200s linear infinite;
        -ms-animation: move-clouds-back 200s linear infinite;
        -o-animation: move-clouds-back 200s linear infinite;
        -webkit-animation: move-clouds-back 200s linear infinite;
        animation: move-clouds-back 200s linear infinite;
    }
    .clouds-day {
        background: transparent url(../img/clouds_headertag-md.png) repeat top center;
        z-index: -1;
        -moz-animation: move-clouds-back 200s linear infinite;
        -ms-animation: move-clouds-back 200s linear infinite;
        -o-animation: move-clouds-back 200s linear infinite;
        -webkit-animation: move-clouds-back 200s linear infinite;
        animation: move-clouds-back 200s linear infinite;
    }
}

@media screen and (max-width: 430px) {
    h1 {
        padding: 2px;
        margin: 0;
        font-size: 25px;
        color: $white;
        line-height: 60px;
    }
    .clouds-night {
        background: transparent url(../img/clouds-sm.png) repeat top center;
        z-index: -1;
        -moz-animation: move-clouds-back 200s linear infinite;
        -ms-animation: move-clouds-back 200s linear infinite;
        -o-animation: move-clouds-back 200s linear infinite;
        -webkit-animation: move-clouds-back 200s linear infinite;
        animation: move-clouds-back 200s linear infinite;
    }
    .clouds-day {
        background: transparent url(../img/clouds_headertag-sm.png) repeat top center;
        z-index: -1;
        -moz-animation: move-clouds-back 200s linear infinite;
        -ms-animation: move-clouds-back 200s linear infinite;
        -o-animation: move-clouds-back 200s linear infinite;
        -webkit-animation: move-clouds-back 200s linear infinite;
        animation: move-clouds-back 200s linear infinite;
    }
}


/*
    Responsive accordion table

 */

#container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    #container {
        width: 90%;
        margin: 0 auto;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background: #f5f5f5;
    font-family: 'Segoe UI';
}

ul.resp-tabs-list,
p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border: 1px solid #5AB1D0 !important;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    border-top: 4px solid #5AB1D0 !important;
    border-bottom: 0px #fff solid !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active,
.resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
    border-top-color: #5AB1D0;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}


/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 290px;
    margin-top: 2px;
    border-radius: 1px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
}

.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
    border-top: 1px solid;
    border: 1px solid #5AB1D0 !important;
    border-left: 4px solid #5AB1D0 !important;
    margin-bottom: 4px !important;
    border-right: 1px #FFF solid !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}


/*-----------Accordion styles-----------*/

h2.resp-tab-active {
    background: #DBDBDB;
    /* !important;*/
}

.resp-easy-accordion h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1;
    /* !important;*/
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1;
    /* !important;*/
}


/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/

@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }
    h2.resp-accordion {
        display: block;
    }
    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }
    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }
    .resp-accordion-closed {
        display: none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}
