//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$ht-red: #ca0755;
$grey-blue: #1b648c;

// Gray Scale
$white: #f0f0f0;
$silver: #ddd;
$border-silver: #bbb;
$gray: #aaa;
$black: #070000;
$input-color: #555;
$focus-color: #333;
$focus-border: #888;


//Day/Night time
$dawn: #3b418b;
$sunrise: #f2ce66;
$day: #6cc1d6;
$sunset: #ff8a5a;
$night: #0c172f;



//
// Add whatever variables you would like made available to the whole app
//
