<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>RTE Testing - Contact</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index.html" class="navbar-brand">header_tag</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavBar">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://api.headertag.com/" target="_blank">Our Tech</a></li>
            <li><a href="index.html#features">Features</a></li>
            <li><a href="http://www.headertag.com/whitepaper.pdf" target="_blank">The Whitepaper</a></li>
            <li><a href="http://wiki.headertag.com/" target="_blank">What's New</a></li>
            <li><a href="contact-page.html" target="_blank">Contact</a></li>
        </ul>
    </div>
</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<h2>Contact</h2>
				<form></form>
			</div>
		</div>
	</div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>
